d4rl @ git+https://github.com/rail-berkeley/d4rl@d842aa194b416e564e54b0730d9f934e3e32f854
git+https://github.com/rlworkgroup/metaworld.git@a0009ed9a208ff9864a5c1368c04c273bb20dd06#egg=metaworld
absl-py
astor
astunparse
blinker
brotlipy
cached-property
cachetools
certifi
cffi
charset-normalizer
chex
click
cloudpickle
cycler
Cython
decorator
dill
distrax
dm-acme
dm-env
dm-haiku
dm-launchpad
dm-reverb
dm-sonnet
dm-tree
fasteners
flatbuffers
flax
fonttools
future
gast
glfw
google-auth
google-auth-oauthlib
grpcio
gym
gym-notices
h5py
imageio
importlib-metadata
jax
jaxlib
jmp
joblib
keras
Keras-Preprocessing
kiwisolver
labmaze
libclang
lxml
Mako
Markdown
MarkupSafe
matplotlib
mjrl @ git+https://github.com/aravindr93/mjrl@3871d93763d3b49c4741e6daeaebbc605fe140dc
mkl-fft
mkl-service
mock
msgpack
mujoco
mujoco-py
numpy
opt-einsum
optax
packaging
Pillow
portpicker
promise
protobuf
psutil
pyasn1-modules
pybullet
pygame
pyglet
PyOpenGL
pyparsing
pycparser
python-dateutil
requests-oauthlib
rlax
rsa
scipy
six
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-datasets
tensorflow-estimator
tensorflow-probability
termcolor
tf-estimator-nightly
toolz
tqdm
typing_extensions
Werkzeug
wrapt
zipp
